<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>恒阅读书会</title>
		<link rel="icon" type="image/png" href="../favicon.png">
		<link type="text/css" href="../medias/css/main.css" rel="stylesheet" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>
		<div id="content">
			<a href="http://hengyuedushuhui.com"><h1>恒阅</h1></a>
			<h2><span>阅读</span> <span>写作</span></h2>
			<h3><span>交流</span> <span>分享</span></h3>
		</div>
		<a id="markout" href="http://hyd.sh"><img src="../medias/img/markout.png" alt="恒阅" /></a>
	</body>
</html>
